# Tic Tac Toe
#variables
player1 = ""
player2 = ""
marker_operator = ["#", " ", " ", " ", " ", " ", " ", " ", " ", " ", ]
markr_operator = ["#", "1", "2", "3", "4", "5", "6", "7", "8", "9", ]

# table
def test_table():


    print("| " + markr_operator[1] + " | " + markr_operator[2] + " | " + markr_operator[3] + " |")

    print("-------------")

    print("| " + markr_operator[4] + " | " + markr_operator[5] + " | " + markr_operator[6] + " |")

    print("-------------")

    print("| " + markr_operator[7] + " | " + markr_operator[8] + " | " + markr_operator[9] + " |")


# New 100 lines
def clear_area():
    print("\n" * 2)


# table
def table(marker):
    print(clear_area())

    print("| " + marker_operator[1] + " | " + marker_operator[2] + " | " + marker_operator[3] + " |")

    print("-------------")

    print("| " + marker_operator[4] + " | " + marker_operator[5] + " | " + marker_operator[6] + " |")

    print("-------------")

    print("| " + marker_operator[7] + " | " + marker_operator[8] + " | " + marker_operator[9] + " |")


# player input func
def player_marker():
    marker = ""

    while marker != "X" and marker != "O":
        marker = input("player1 choose X or O: ")



    player1 = marker

    if player1 == "X":
        player2 = "O"

    else:
        player2 = "X"

    print("Player1 = " + player1 + " , player2 = " + player2)


# want to play again

def want_to_play_again():

    wanna_play = ""

    while wanna_play != "Yes" and wanna_play != "No":
        wanna_play = input("Do you want to play choose 'Yes' or 'No' :-")


        if wanna_play == "Yes":
            print(test_table())
            print("Player1 = X , player2 = O")
            print(rerun())
            want_to_play_again()

        else:
            pass


# marker_assigner
def place_marker(board, marker, position):
    board[position] = marker

#ggs
def rerun():
    print("Chance of player 1")
    place_marker(marker_operator, "X", int(input("player 1 choose place on board = ")))
    print(table(marker_operator))
    print("                                                                      "
          "                                                                      "
          )

    print("Chance of player 2")
    place_marker(marker_operator, "O", int(input("player 2 choose place on board = ")))
    print(table(marker_operator))
    print("                                                                      "
          "                                                                      "
          )

    print("Chance of player 1")
    place_marker(marker_operator, "X", int(input("player 1 choose place on board = ")))
    print(table(marker_operator))
    print("                                                                      "
          "                                                                      "
          )

    print("Chance of player 2")
    place_marker(marker_operator, "O", int(input("player 2 choose place on board = ")))
    print(table(marker_operator))
    print("                                                                      "
          "                                                                      "
          )

    print("Chance of player 1")
    place_marker(marker_operator, "X", int(input("player 1 choose place on board = ")))
    print(table(marker_operator))
    print("                                                                      "
          "                                                                      "
          )
    print(win_check1())

    print("Chance of player 2")
    place_marker(marker_operator, "O", int(input("player 2 choose place on board = ")))
    print(table(marker_operator))
    print("                                                                      "
          "                                                                      "
          )
    print(win_check1())


    print("Chance of player 1")
    place_marker(marker_operator, "X", int(input("player 1 choose place on board = ")))
    print(table(marker_operator))
    print("                                                                      "
          "                                                                      "
          )
    print(win_check1())

    print("Chance of player 2")
    place_marker(marker_operator, "O", int(input("player 2 choose place on board = ")))
    print(table(marker_operator))
    print("                                                                      "
          "                                                                      "
          )
    print(win_check1())

    print("Chance of player 1")
    place_marker(marker_operator, "X", int(input("player 1 choose place on board = ")))
    print(table(marker_operator))
    print("                                                                      "
          "                                                                      "
          )
    print(win_check1())



def win_check(board, mark):
    return ((board[7] == mark and board[8] == mark and board[9] == mark) or
            (board[4] == mark and board[5] == mark and board[6] == mark) or
            (board[1] == mark and board[2] == mark and board[3] == mark) or
            (board[7] == mark and board[4] == mark and board[1] == mark) or
            (board[8] == mark and board[5] == mark and board[2] == mark) or
            (board[9] == mark and board[6] == mark and board[3] == mark) or
            (board[7] == mark and board[5] == mark and board[3] == mark) or
            (board[9] == mark and board[5] == mark and board[1] == mark))


def win_check1():
    if win_check(marker_operator, "X") == True:
        print("Player 1 You Win ")
        quit()


    elif win_check(marker_operator, "O") == True:
        print("Player 2 you win")
        quit()

    else:
        print("             "
              "             "
              "             ")

# play again function

print(want_to_play_again())








